<html>
<head>
    <title>
        Polly
    </title>
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/gumby.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/modernizr.custom.02457.js"></script>
    <script src="/static/js/socket.io.js"></script>
</head>

<body>
    Server: <span id="conn_status">connecting...</span> | Btsync: <span id="bt_conn_status">connection...</span>
    <br><br>
    <div id="data"></div>


    <script src="/static/js/jquery-1.11.1.min.js"></script>
    <script src="/static/js/gumby.min.js"></script>
    <script src="/static/js/knockout-3.1.0.debug.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            var socket = io.connect('/status');
            // -----------------------------
            socket.on('message', function(data) {
                $('#data').text(data.status + ', ' + data.time + ', ' + data.sync_stats);
            })

            // -----------------------------
            socket.on('connect', function(socket) {
                $('#conn_status').html('Connected');
            });

            socket.on('error', function(socket) {
                $('#conn_status').html('Error');
            });

            socket.on('disconnect', function(socket) {
                $('#conn_status').html('disconnected');
            });
        })
    </script>
</body>
</html>